@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Website design og kode:<br />
    Lasse Antonsen og Anders Møller Andersen<br />
    ZBC Ringsted 2018<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:lass897g@zbc.dk">lass897g@zbc.dk</a>
    <strong> - </strong> <a href="mailto:zbcanand23@zbc.dk">zbcanand23@zbc.dk</a>
</address>
