
<h1> 
    Kontakt

</h1>

<div id="Contact_block"></div>
<div class="row">
   
        Lasse Antonsen og Anders Møller Andersen<br />
        ZBC Ringsted 2018<br />
    
</div>
    <address>
        Website design og kode:<br />
       
    </address>
    <div class="row">
        <div class="col-12"><strong>Support:</strong> <a href="mailto:lass897g@zbc.dk">lass897g@zbc.dk</a></div>
        <address>
            
            <strong> - </strong> <a href="mailto:zbcanand23@zbc.dk">zbcanand23@zbc.dk</a>
        </address>
    </div>
