@{
    ViewData["Title"] = "Kontakt";
}
<h1>Kontakt</h1>


<div id="Contact_block"></div>


<h4>Anders Møller Andersen og Lasse Antonsen</h4> 
<h4>Adresse: Ahorn Allé 3 - 5</h4>
<h4>4100 Ringsted</h4>
<h4>Telefonnummber: 44 75 62 21</h4>



<address>
    Website design og kode:<br />
    <strong>Support:</strong> <a href="mailto:lass897g@zbc.dk">lass897g@zbc.dk</a>
    <strong> - </strong> <a href="mailto:zbcanand23@zbc.dk">zbcanand23@zbc.dk</a>
</address>

