
    <p>
        Kontakt

    </p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>amdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>sfat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>stwitter</td>
            </tr>
        </tbody>
    </table>


    Lasse Antonsen og Anders Møller Andersen<br />
    ZBC Ringsted 2018<br />


    <address>
        Website design og kode:<br />

    </address>

    <strong>Support:</strong> <a href="mailto:lass897g@zbc.dk">lass897g@zbc.dk</a>
    <address>

        <strong> - </strong> <a href="mailto:zbcanand23@zbc.dk">zbcanand23@zbc.dk</a>
    </address>

