
@{
    ViewData["Title"] = "Menu";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu</h2>
<h3>@ViewData["Message"]</h3>


    <div id="Wrapper" class="col-md-12">

        <div id="LogoBox">
            <img src="~/images/pizzaLogo2.png" class="Logo" />
        </div>
           
     



    </div>

