@model IEnumerable<PizzaChallenge.Model.Product>

@{
    ViewData["Title"] = "Menukort";
}
<h2>Menukort</h2>
@*<img src="~/images/PizzaLogo.jpg" />*@

<hr />
<table id="Menutable" class="table table-responsive table-danger">
    <thead>
        <tr>
            <th>
                Nr
            </th>
            <th>
                Navn
            </th>
            <th>
                Beskrivelse
            </th>
            <th>
                Pris DKK
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
